
.work-sans-normal{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
*{
    margin: 0;
    padding: 0;
}




/* nav style Marry*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.latter{
    color:#FD6E0A;
}



/*  Share style*/







.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding:18px 32px ;
    border: none;
    border-radius: 5px;
}

.btn-secoundry{
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    padding:18px 32px ;
    border: none;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 25px;
}

.section-title{
    font-size: 35px;
    font-weight: 800;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin-top: 30px;
    margin-bottom: 10px;


}
.secoundary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}





/* nav style page name */
.dark-2{
    color: #474747;
}

nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center; 

}

/* banner style */

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18;
    font-weight: 400px;
    color: #757575;
    margin-bottom: 30px;
}
.btn-organaige{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 64px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 193px;
    
}
.banner-content{
    max-width: 580px;
}
.banner-profile-picture{
    width: 584px;
}

.head{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about style */
.about{
 border-radius: 10px;
 padding: 135px 150px;
 margin-top: 155px;
 display: flex;
 text-align: center;
 flex-direction: column;

}
.info {
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.data{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 130px;
}
.skill-info p{
    padding: 0 116px;
}
.skill-container{
    margin-top: 40px;
    margin-bottom: 130px;
    display: flex;
    gap: 24px;
}
.skill-title{
    font-size: 20px;
    font-weight: 800;
}
.skill{
    background-color: #ffffff;
    max-width:267px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 6px 50px rgb(248, 222, 222);
}
.skill h4{
    margin-top: 30px;
    margin-bottom: 20px;
}


/* resume style */
.resume{
    margin-bottom: 113px;
}

.education-experiance{
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.resume h2{
    font-size: 35px;
    font-weight: 800;
}
.education h3{
    font-size: 30px;
    font-weight: 800;
    color: #474747;
}
.experiance h3{
    font-size: 30px;
    font-weight: 800;
    color: #474747;
}
.education-name, .experiance-name{
    margin: 30px 0;
}
.education-title, .experiance-title{
    font-size: 25px;
    font-weight: 800;
    color: #474747;
}
.education-sub-title, .experiance-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin: 10px 0;
}
.education-description, .experiance-description, .social-info {
    font-size: 16px;
    color: #757575;
    margin: 10px 0;
}
.resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



/* footer style */


.opinion{
    display: flex;
    flex-direction: row;
    padding: 130px 230px;
    gap: 100px;

}

.connect{
    font-size: 35px;
    font-weight: 800;
    color: #181818;
}
.social-logo{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.footer-column{
    width: 50%;
}
.footer-column h3{
    margin-bottom: 28px;
}
footer input[type="text"],footer input[type="email"]{
    height: 64px;
    background-color: #ffffff;
    border-radius: 5px;
    display: block;
    width: 100%;
    border: none;
    padding: 2px 20px;
    margin-bottom: 24px;
    font-size: 18px;
}
textarea{
    height: 64px;
    background-color: #ffffff;
    border-radius: 5px;
    display: block;
    width: 100%;
    border: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
    padding-left:25px;
    margin-bottom: 24px;
    font-size: 20px;

}
